.btnHome {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: inherit;
  color: #2e2e2e;
  margin-bottom: 10px;
}

.btnHome:hover,
.btnHome:focus {
  cursor: pointer;
  color: #ff255f;
}

.movieBox {
  display: flex;
  gap: 20px;
  max-width: 800px;
}

.movieImg {
  max-width: 200px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.vote {
  font-size: 14px;
  margin-bottom: 10px;
}

.overviewTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.overview {
  font-size: 12px;
  margin-bottom: 10px;
}

.genresTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.genres {
  font-size: 14px;
}

.information {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #4e009d;
}

.link:hover,
.link:focus {
  color: #ff255f;
}

.active {
  color: #ff255f;
}
