.list {
  list-style: none;
}

.icon {
  margin-right: 5px;
}

.link {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #2e2e2e;
}

.link:hover,
.link:focus {
  color: #ff255f;
}

.form,
.btnSearch {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.btnSearch {
  border-radius: 15px;
  cursor: pointer;
}

.btnSearch:hover:enabled,
.btnSearch:focus:enabled {
  color: #ff255f;
}

.error {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #ff255f;
}
